@inherits LayoutComponentBase
@using DataAccessLibrary.Models



@* <CascadingValue TValue="AccountModel" Value="myAccount"> *@
    <div class="page">

        <div class="navbar">
            <NavMenu />
        </div>
        <div class="fade-gradient"></div>

        <main>
            @* <div class="top-row px-4">  
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>  
        </div> *@  

            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
@* </CascadingValue> *@


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    AccountService accountService { get; set; } = new AccountService();
    NewCharacterService new_character { get; set; } = new NewCharacterService();
    ConfirmService confirm_service { get; set; } = new ConfirmService();
    // [CascadingParameter]
    // public AccountModel myAccount { get; set; } = new AccountModel();
}