.tag {
    max-width: fit-content;
    height: fit-content;
    text-align: center;
    border: solid 3px black;
    background-color: #5E548E;
    border-radius: 20px;
    margin: auto 5px 10px 5px;
    padding: 5px 10px;
}

    .tag p {
        /* width: fit-content; */
        color: inherit;
        margin: 0;
    }

    .tag img {
        height: 1.5em !important;
        width: 1.5em !important;
        margin: 0;
        object-fit: fill;
    }

    .tag[data="blue"] {
        background-color: #aae0fa;
        color: black;
    }

    .tag[data="red"] {
        background-color: #f9aa8f;
    }

    .tag[data="green"] {
        background-color: #9bd3ae;
    }

    .tag[data="brown"] {
        background-color: chocolate;
    }

    .tag[data="yellow"] {
        background-color: yellow;
    }

    .tag[data="Slate Penitentiary"] {
        background-color: grey;
        color: black;
    }

    .tag[data="black"] {
        /*background-color: #231942;*/
        background-color: #cbc2bf;
        color: black;
    }

    .tag[data="Theros"] {
        background-color: #8E7618;
        color: black;
    }

    .tag[data="orange"] {
        background-color: orange;
    }

    .tag[data="pink"] {
        background-color: pink;
    }

    .tag[data="gold"] {
        background-color: #FFD700;
    }

    .tag[data="white"] {
        background-color: #fffbd5;
    }

    .tag[data="Grid"] {
        /*background-color: black;
        border-color: aqua;
        color: aqua;*/
        background-color: aqua;
        color: black;
    }

    .tag[data="Azorius"] {
        background-color: white !important;
        border-color: blue !important;
        color: blue !important;
    }

    .tag[data="Boros"] {
        background-color: crimson !important;
        border-color: white !important;
        color: white !important;
    }

    .tag[data="Dimir"] {
        background-color: black !important;
        border-color: blue !important;
        color: blue !important;
    }

    .tag[data="Golgari"] {
        background-color: #231942 !important;
        border-color: green !important;
        color: green !important;
    }

    .tag[data="Gruul"] {
        background-color: green !important;
        border-color: crimson !important;
        color: black !important;
    }

    .tag[data="Izzet"] {
        background-color: blue !important;
        border-color: crimson !important;
        color: white !important;
    }

    .tag[data="Orzhov"] {
        background-color: #231942 !important;
        border-color: white !important;
        color: white !important;
    }

    .tag[data="Rakdos"] {
        background-color: black !important;
        border-color: crimson !important;
        color: crimson !important;
    }

    .tag[data="Selesnya"] {
        background-color: green !important;
        border-color: white !important;
        color: white !important;
    }

    .tag[data="Simic"] {
        background-color: #aae0fa !important;
        border-color: darkgreen !important;
        color: darkgreen !important;
    }

/*CONTINUED FROM ENCYCLOPEDIA CSS*/

.entry-header .tag:has(> p) {
    font-size-adjust: 0.75;
    padding: 20px;
    background-color: rgba(0,0,0,0.75);
    color: inherit;
}

.entry-header:has(> .tag) {
    background-size: cover;
    background-position: 50% 45%;
}

.entry-header:has(> .tag[data="white"]) {
    background-image: url("/img/color/plains.png");
}

.entry-header:has(> .tag[data="blue"]) {
    background-image: url("/img/color/island.png");
}

.entry-header:has(> .tag[data="black"]) {
    background-image: url("/img/color/swamp.png");
}

.entry-header:has(> .tag[data="red"]) {
    background-image: url("/img/color/mountain.png");
}

.entry-header:has(> .tag[data="green"]) {
    background-image: url("/img/color/forest.png");
}

.entry-header:has(> .tag[data="green"]) {
    background-image: url("/img/color/forest.png");
}

.entry-header:has(> *.tag[data="1999"]) {
    background-image: url("/img/campaign_cover/the_core.jpg") !important;
    color: lightseagreen;
}

.entry-header:has(> *.tag[data="3030"]) {
    background-image: url("/img/campaign_cover/infinite-1.jpg") !important;
    color: royalblue;
}

.entry-header:has(> *.tag[data="4404"]) {
    background-image: url("/img/MOoT-cover.jpg") !important;
    color: goldenrod;
}

.entry-header:has(> *.tag[data="4601"]) {
    background-image: url("/img/campaign_cover/the_cage.jpg") !important;
    color: crimson;
}

.entry-header:has(> *.tag[data="4602"]) {
    background-image: url("/img/campaign_cover/voidman.jpg") !important;
    color: rebeccapurple;
}

.entry-header:has(> .tag[data="Azorius"]) {
    background-image: url("/img/guild_gate/azorius.jpg") !important;
}

.entry-header:has(> .tag[data="Boros"]) {
    background-image: url("/img/guild_gate/boros.jpg") !important;
}

.entry-header:has(> .tag[data="Dimir"]) {
    background-image: url("/img/guild_gate/dimir.jpg") !important;
}

.entry-header:has(> .tag[data="Golgari"]) {
    background-image: url("/img/guild_gate/golgari.jpg") !important;
}

.entry-header:has(> .tag[data="Gruul"]) {
    background-image: url("/img/guild_gate/gruul.jpg") !important;
}

.entry-header:has(> .tag[data="Izzet"]) {
    background-image: url("/img/guild_gate/izzet.jpg") !important;
}

.entry-header:has(> .tag[data="Orzhov"]) {
    background-image: url("/img/guild_gate/orzhov.jpg") !important;
}

.entry-header:has(> .tag[data="Rakdos"]) {
    background-image: url("/img/guild_gate/rakdos.jpg") !important;
}

.entry-header:has(> .tag[data="Selesnya"]) {
    background-image: url("/img/guild_gate/selesnya.jpg") !important;
}

.entry-header:has(> .tag[data="Simic"]) {
    background-image: url("/img/guild_gate/simic.jpg") !important;
}
