<div style="border: solid green 1px; padding: 10px;">
    <button @onclick="@(() => SendMessage.InvokeAsync("HI!"))">Send Message</button>
</div>

@code {
    [Parameter]
    public EventCallback<string> SendMessage { get; set; }

    private Task SendMessageHandler(string message)
    {
        return SendMessage.InvokeAsync(message);
    }
}