@if (Visible)
{
    <div class="background-dim full-screen" @onclick=@Close></div>
    <div class="popup-div full-screen d-flex flex-column fs-5 fs-sm-2">
        @*change font size?*@
        @if (Mode == "character")
        {
            <Character model="@Character"></Character>
        }
        else if (Mode == "guild")
        {
            <Guild model="@Guild"></Guild>
        }
    </div>
}

@code {
    public string? Mode { get; set; }
    public CharacterModel? Character { get; set; }
    public GuildModel? Guild { get; set; }
    private bool Visible { get; set; }
    private double Opacity { get; set; }
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
    public async Task Close()
    {
        Visible = false;
        await Task.CompletedTask;
    }
    private void Show()
    {

        Visible = true;
        Opacity = 1.0;
        StateHasChanged();
    }

    public void ShowCharacter(CharacterModel character)
    {
        Character = character;
        Mode = "character";
        Show();
    }

    public void ShowGuild(GuildModel guild)
    {
        Guild = guild;
        Mode = "guild";
        Show();
    }

}
