@inject AccountService accountService
@inject NewCharacterService new_character
@inject ICharacterData _character_db

@if (Visible)
{
    <div class="background-dim full-screen" @onclick=@Close></div>
    <div class="popup-div full-screen d-flex flex-column fs-5 fs-sm-2">
        @*change font size?*@
        @if (Mode == "character")
        {
            @if (Character?.user_id == accountService.account?.Id)
            {
                <div class="popup-btn-tray">
                    <button type="button"
                            class="button edit-btn btn-green"
                            @onclick=@EditButton>
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button type="button"
                            class="button delete-btn btn-red"
                            @onclick=@DeleteButton>
                        <i class="bi bi-trash"></i>
                    </button>
                </div>
            }
            <Character model="@Character"></Character>
        }
        else if (Mode == "guild")
        {
            <Guild model="@Guild"></Guild>
        }
    </div>
}

@code {
    public string? Mode { get; set; }
    public CharacterModel? Character { get; set; }
    public GuildModel? Guild { get; set; }
    private bool Visible { get; set; }
    private double Opacity { get; set; }
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
    public async Task Close()
    {
        Visible = false;
        await Task.CompletedTask;
    }
    private void Show()
    {

        Visible = true;
        Opacity = 1.0;
        StateHasChanged();
    }

    public void ShowCharacter(CharacterModel character)
    {
        Character = character;
        Mode = "character";
        Show();
    }

    public void ShowGuild(GuildModel guild)
    {
        Guild = guild;
        Mode = "guild";
        Show();
    }

    public async Task EditButton()
    {
        new_character.model = Character;
        new_character.openMenu();
        await Close();
    }

    public async Task DeleteButton()
    {
        await _character_db.deleteCharacter(Character.id.Value);
        await Close();
    }

}
