.character-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.character-selector {
    border: 5px solid black;
    border-radius: 20px;
    width: fit-content;
}

    .character-selector:hover {
        border-color: #111;
    }

    .character-selector img {
        width: 150px;
        height: 150px;
    }

.current-character {
    /*border: 1px solid red;*/
    width: 600px;
}

.character-box {
    border: 5px solid #5E548E;
    border-radius: 20px;
    padding: 10px;
    height: fit-content;
    min-height: 350px;
}
