/* CAMPAIGN PAGE */

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    /* padding-bottom: 10rem; */
}

.camp-tile {
    background-color: #111;
    border-radius: 50px;
    text-align: center;
    grid-column: span 3;
    min-height: fit-content;
    padding: 3% 0%;
    margin: 2% 2%;
    text-decoration: none;
    transition: all 0.5s ease-out;
    opacity: 0.85;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

    .camp-tile h2 {
        font-size: 2vw;
        margin-top: 0.83em;
    }

    .camp-tile p {
        font-size: 1vw;
    }

    .camp-tile img {
        object-fit: cover;
        object-position: center;
        border-radius: 50px;
        width: 85%;
        height: 70%;
    }

    .camp-tile:hover {
        transform: scale(1.02);
        opacity: 1.0;
    }

.camp-img {
    border-radius: 10px;
    height: 300px;
    width: auto;
    margin: auto;
}

/*.img-feather {
    mask-image: radial-gradient(circle, black 10%, transparent 100%);
    -webkit-mask-image: radial-gradient(circle, black 10%, transparent 100%);
}*/


button {
    height: 50px;
    width: fit-content;
    font: inherit;
    color: inherit;
    background-color: #111E;
    border-radius: 50px;
    border: 5px solid #111;
}

.recap-shortcut {
    background-color: black;
    width: 50px;
    margin: 5px;
}

    .recap-shortcut:active {
        /*background-color: #5E548E;*/
        border-color: #5E548E;
    }

.tab_on {
    background-color: #5E548E;
    color: black;
    width: 100px;
}

.tab_off {
    width: 100px;
}

.character-button {
    width: 110px;
    height: fit-content;
    background-color: black;
    /*border-color: black;*/
    border-radius: 20px;
    padding: 10px 5px;
    margin: 5px;
}

    .character-button img {
        width: auto;
        height: 50px;
    }

    .character-button p {
        margin-bottom: 0;
    }

.recap-card {
    scroll-margin-top: 200px;
}

@media (max-width: 500px) {
    .camp-img {
        width: 100%;
        height: auto;
    }
}
