/* ENCYCLOPEDIA */

#loadingProgress {
    margin: 0 40%;
    width: 20%;
    background-color: #111;
}

#loadingBar {
    width: 1%;
    height: 30px;
    background-color: #231942;
}

#dict-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px;
}

    #dict-grid h1 {
        grid-column: 1/5;
    }

.entry {
    display: flex;
    flex-flow: row;
    justify-content: left;
    margin-bottom: 20px;
    padding: 3%;
    border: 5px solid black;
    border-radius: 20px;
    /*transition: 0.5s;*/
}

    .entry:hover {
        border-color: #111;
    }

/*.entry:active .panel p {
        border-color: red;
        display: inherit;
    }*/

.exit_panel_btn {
    position: fixed;
    border: solid #231942 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #5E548E;
    right: 10px;
    margin: 10px 0;
}

.exit_panel_btn:active {
    color: red;
}

.entry:focus {
    width: 100%;
    grid-column: 1/5;
    position: fixed;
    left: 0;
    right: 0;
    background-color: black;
}

    .entry:focus .panel {
        margin-left: 20px;
        padding: 0 30px;
        border-radius: 20px;
        background-color: #111;
        color: #5E548E;
    }

        .entry:focus .panel p {
            display: inherit;
        }

    .entry:focus .entryData {
        display: none;
    }

.panel p {
    color: #5E548E;
    display: none;
    overflow: hidden;
    font-size: 1.5em;
    margin: 20px 0px;
    text-align: left;
}


.active {
    background-color: #111;
}

.entry h2 {
    width: 100%;
    margin-top: 25px;
    /*margin-bottom: -5%;*/
}

.entry div {
    flex-grow: 2;
    display: flex;
    color: black;
    flex-flow: row wrap;
    justify-content: center;
}



.entry img {
    width: 150px;
    height: 150px;
}

.tag {
    max-width: fit-content;
    height: fit-content;
    text-align: center;
    /* border: solid 1px #BE95C4; */
    background-color: #5E548E;
    border-radius: 20px;
    margin: 10px;
    padding: 3%;
}

    .tag p {
        /* width: fit-content; */
        color: inherit;
        margin: 0;
    }

    .tag[data="blue"] {
        background-color: blue;
        color: white;
    }

    .tag[data="red"] {
        background-color: red;
    }

    .tag[data="green"] {
        background-color: green;
    }

    .tag[data="brown"] {
        background-color: chocolate;
    }

    .tag[data="yellow"] {
        background-color: yellow;
    }

    .tag[data="Slate Penitentiary"] {
        background-color: grey;
    }

    .tag[data="black"] {
        background-color: #231942;
        color: white;
    }

    .tag[data="Theros"] {
        background-color: #8E7618;
    }

    .tag[data="orange"] {
        background-color: orange;
    }

    .tag[data="pink"] {
        background-color: pink;
    }

    .tag[data="gold"] {
        background-color: #FFD700;
    }

    .tag[data="white"] {
        background-color: white;
    }
