/* ENCYCLOPEDIA */

#loadingProgress {
    margin: 0 40%;
    width: 20%;
    background-color: #111;
}

#loadingBar {
    width: 1%;
    height: 30px;
    background-color: #231942;
}

#dict-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 15px;
    margin-right: 75px;
}

    #dict-grid h1 {
        grid-column: 1/5;
    }

.entry {
    display: flex;
    flex-flow: row;
    justify-content: left;
    margin-bottom: 20px;
    padding: 3%;
    border: 5px solid black;
    border-radius: 20px;
    /*transition: 0.5s;*/
}

button.entry:hover {
    border-color: #111;
}

/*.entry:active .panel p {
        border-color: red;
        display: inherit;
    }*/

.entry-header {
    grid-column: 1 / -1;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.enc-menu {
    background-color: #111;
    border: solid 5px #231942;
    border-radius: 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    max-width: 1381px;
    width: fit-content;
    margin: 10px auto;
}

.newchar-menu {
    /*margin-right: 75px;*/
}

.filter-menu {
}

.menu-item p {
    margin: 0;
    text-align: center;
}

.menu-tray {
    /*child rules*/
    order: 99;
    /*flex-basis: 100%;*/
    /*parent rules*/
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: center;
    gap: 5px;
}

.token-option img {
    opacity: 0.5;
    object-fit: contain;
    width: 50px;
    height: 50px;
}

.token-option:hover img {
    opacity: 1;
}

/*SEE APP.CSS*/
/*input, InputText, InputNumber, select,
::picker(select), .tag-tray {
    appearance: base-select;
    background-color: black;
    color: #5E548E;
    border: solid 1px #5E548E;
    border-radius: 20px;
    width: 150px;
    padding: 15px;
}*/

input.input-small {
    width: 75px;
}

.campaign-selector {
    width: 300px;
}

.tooltray {
    position: fixed;
    right: 0;
    top: 0;
    margin-top: 175px;
    /*transform: translateY(-50%);*/
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111;
    border: solid 5px #231942;
    border-radius: 20px 0 0 20px;
    padding: 10px;
    z-index: 1000;
}

.toolbtn {
    border: solid #231942 5px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #5E548E;
    /*right: 10px;*/
    margin: 5px 0;
}

    .toolbtn img {
        margin: -10px;
        width: 50px;
        height: 50px;
    }

.toolbtn-on {
    color: #231942;
    background-color: #5E548E;
}

/*.toolbtn i::before {
        font-family: "Bootstrap Icons";
        content: "\F571";
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
    }*/



.exit_panel_btn {
}

    .exit_panel_btn:active {
        color: red;
    }

/*.entry:focus {
    width: 100%;
    grid-column: 1/5;
    position: fixed;
    left: 0;
    right: 0;
    background-color: black;
}

    .entry:focus .panel {
        margin-left: 20px;
        padding: 0 30px;
        border-radius: 20px;
        background-color: #111;
        color: #5E548E;
    }

        .entry:focus .panel p {
            display: inherit;
        }

    .entry:focus .entryData {
        display: none;
    }*/

.panel p {
    color: #5E548E;
    display: none;
    overflow: hidden;
    font-size: 1.5em;
    margin: 20px 0px;
    text-align: left;
}


.active {
    background-color: #111;
}

.entry h2 {
    width: 100%;
    margin-top: 25px;
    /*margin-bottom: -5%;*/
}

.entry div {
    flex-grow: 2;
    display: flex;
    color: black;
    flex-flow: row wrap;
    justify-content: center;
}

.entry img {
    width: 150px;
    height: 150px;
}


@media (max-width: 1555px) {

    .newchar-menu {
        width: 750px;
        margin: 10px auto;
    }
}

@media (max-width: 1240px) {
    #dict-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin: 15px;
        margin-right: 75px;
    }

    .filter-menu {
        max-width: 775px;
    }
}

@media (max-width: 930px) {
    .newchar-menu {
        width: 350px;
        margin: 10px auto;
    }
}

@media (max-width: 869px) {
    #dict-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        margin: 15px;
        margin-right: 75px;
    }

    .filter-menu {
        max-width: 375px;
        justify-content: space-around;
        /*width: fit-content;*/
        /*margin: auto;*/
        /*flex-flow: column;*/
        /*align-items: flex-start;*/
    }

    .filter-menu * {
        flex-shrink: 1;
    }
}
