/* ENCYCLOPEDIA */

#loadingProgress {
    margin: 0 40%;
    width: 20%;
    background-color: #111;
}

#loadingBar {
    width: 1%;
    height: 30px;
    background-color: #231942;
}

#dict-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 15px;
    margin-right: 75px;
}

    #dict-grid h1 {
        grid-column: 1/5;
    }

.entry {
    display: flex;
    flex-flow: row;
    justify-content: left;
    margin-bottom: 20px;
    padding: 3%;
    border: 5px solid black;
    border-radius: 20px;
    /*transition: 0.5s;*/
}

    .entry:hover {
        border-color: #111;
    }

/*.entry:active .panel p {
        border-color: red;
        display: inherit;
    }*/

.filter-menu {
    background-color: #111;
    border: solid 5px #231942;
    border-radius: 20px;
    margin-right: 75px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: fit-content;
    margin: auto;
}

.filter-item p {
    margin: 0;
    text-align: center;
}

select,
::picker(select) {
    appearance: base-select;
    background-color: black;
    color: #5E548E;
    border: solid 1px #5E548E;
    border-radius: 20px;
    width: 150px;
    padding: 15px;
}

.campaign-selector {
    width: 300px;
}

.tooltray {
    position: fixed;
    right: 0;
    top: 0;
    margin-top: 175px;
    /*transform: translateY(-50%);*/
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #111;
    border: solid 5px #231942;
    border-radius: 20px 0 0 20px;
    padding: 10px;
    z-index: 1000;
}

.toolbtn {
    border: solid #231942 5px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #5E548E;
    right: 10px;
    margin: 5px 0;
}

/*.toolbtn i::before {
        font-family: "Bootstrap Icons";
        content: "\F571";
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
    }*/

.exit_panel_btn {
}

    .exit_panel_btn:active {
        color: red;
    }

.entry:focus {
    width: 100%;
    grid-column: 1/5;
    position: fixed;
    left: 0;
    right: 0;
    background-color: black;
}

    .entry:focus .panel {
        margin-left: 20px;
        padding: 0 30px;
        border-radius: 20px;
        background-color: #111;
        color: #5E548E;
    }

        .entry:focus .panel p {
            display: inherit;
        }

    .entry:focus .entryData {
        display: none;
    }

.panel p {
    color: #5E548E;
    display: none;
    overflow: hidden;
    font-size: 1.5em;
    margin: 20px 0px;
    text-align: left;
}


.active {
    background-color: #111;
}

.entry h2 {
    width: 100%;
    margin-top: 25px;
    /*margin-bottom: -5%;*/
}

.entry div {
    flex-grow: 2;
    display: flex;
    color: black;
    flex-flow: row wrap;
    justify-content: center;
}



.entry img {
    width: 150px;
    height: 150px;
}

.tag {
    max-width: fit-content;
    height: fit-content;
    text-align: center;
    border: solid 3px black;
    background-color: #5E548E;
    border-radius: 20px;
    margin: 5px;
    padding: 10px;
}

    .tag p {
        /* width: fit-content; */
        color: inherit;
        margin: 0;
    }

    .tag[data="blue"] {
        background-color: blue;
        color: white;
    }

    .tag[data="red"] {
        background-color: red;
    }

    .tag[data="green"] {
        background-color: green;
    }

    .tag[data="brown"] {
        background-color: chocolate;
    }

    .tag[data="yellow"] {
        background-color: yellow;
    }

    .tag[data="Slate Penitentiary"] {
        background-color: grey;
    }

    .tag[data="black"] {
        background-color: #231942;
        color: white;
    }

    .tag[data="Theros"] {
        background-color: #8E7618;
    }

    .tag[data="orange"] {
        background-color: orange;
    }

    .tag[data="pink"] {
        background-color: pink;
    }

    .tag[data="gold"] {
        background-color: #FFD700;
    }

    .tag[data="white"] {
        background-color: white;
    }

    .tag[data="Azorius"] {
        background-color: white;
        border-color: blue;
        color: blue;
    }

    .tag[data="Boros"] {
        background-color: red;
        border-color: white;
        color: white;
    }

    .tag[data="Dimir"] {
        background-color: black;
        border-color: blue;
        color: blue;
    }

    .tag[data="Golgari"] {
        background-color: #231942;
        border-color: green;
        color: green;
    }

    .tag[data="Gruul"] {
        background-color: green;
        border-color: red;
        color: black;
    }

    .tag[data="Izzet"] {
        background-color: blue;
        border-color: red;
        color: white;
    }

    .tag[data="Orzhov"] {
        background-color: #231942;
        border-color: white;
        color: white;
    }

    .tag[data="Rakdos"] {
        background-color: black;
        border-color: red;
        color: red;
    }

    .tag[data="Selesnya"] {
        background-color: green;
        border-color: white;
        color: white;
    }

    .tag[data="Simic"] {
        background-color: blue;
        border-color: green;
        color: white;
    }


@media (max-width: 1221px) {
    #dict-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin: 15px;
        margin-right: 75px;
    }
}

@media (max-width: 858px) {
    #dict-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        margin: 15px;
        margin-right: 75px;
    }

    .filter-menu {
        /*width: fit-content;*/
        /*margin: auto;*/
        flex-flow: column;
        /*align-items: flex-start;*/
    }
}
