@page "/test"
@using DataAccessLibrary
@using DataAccessLibrary.Models

@inject ICharacterData _db
@inject IAccountData _account_db
@inject AccountService accountService
@* @implements IDisposable *@
@rendermode InteractiveServer

<h3>Test</h3>

@code {

}
